*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}

body {
    background-color: black;
}

header{
    background-color: cadetblue;
    font-size: 2.4rem;
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 3rem;
}

.main-nav {
    display: flex; 
    list-style: none;

}

.main-nav__list {
    padding: 0.5rem;
}
.main-nav__list a {
    text-decoration: none;
}

main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    font-size: 1.6rem;    
    color: white;
}

.titulo {
    /* background-color: crimson; */
}

.formulario {
    /* background-color: darkgreen;*/
} 

footer{
    width: 100%;
    height: 5rem;
    background-color: darkslateblue;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    margin-top: 50%; 
    
}

.formulario {
    display: flex;
    justify-content: center;
}

.main-form__botones {
    display: flex;
    justify-content: center;
}

.main-form__botones input {
    margin: 1rem;
}

.ElegirPlaneta {
    margin-left: 7.7rem;
}

.main-form {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
}
.main-form__label {
    margin: 1rem;
}








